# See https://atom.io/docs/latest/creating-a-package#menus for more details
# 'context-menu':
#   '.overlayer':
#       'Enable convert-to-utf8': 'convert-to-utf8:toggle'

'menu': [{
    'label': 'Packages'
    'submenu': [{
        'label': 'ConvertToUTF8'
        'submenu': [
            { 'label': 'Open With', 'submenu': [
                { 'label': 'Chinese Simplified (GBK)', 'command': 'convert-to-utf8:open:gbk' }
                { 'label': 'Chinese Traditional (Big5)', 'command': 'convert-to-utf8:open:big5' }
                { 'label': 'Korean (EUC-KR)', 'command': 'convert-to-utf8open::euc-kr' }
                { 'label': 'Japanese (CP932)', 'command': 'convert-to-utf8:open:cp932' }
                { 'label': 'Japanese (Shift_JIS)', 'command': 'convert-to-utf8:open:shift_jis' }
                { 'label': 'Japanese (EUC-JP)', 'command': 'convert-to-utf8:open:euc-jp' }
                { 'label': 'UTF-8',   'command': 'convert-to-utf8:open:utf8' }
            ] }
            { 'label': 'Save To', 'submenu': [
                { 'label': 'Chinese Simplified (GBK)', 'command': 'convert-to-utf8:save:gbk' }
                { 'label': 'Chinese Traditional (Big5)', 'command': 'convert-to-utf8:save:big5' }
                { 'label': 'Korean (EUC-KR)', 'command': 'convert-to-utf8:save:euc-kr' }
                { 'label': 'Japanese (CP932)', 'command': 'convert-to-utf8:save:cp932' }
                { 'label': 'Japanese (Shift_JIS)', 'command': 'convert-to-utf8:save:shift_jis' }
                { 'label': 'Japanese (EUC-JP)', 'command': 'convert-to-utf8:save:euc-jp' }
                { 'label': 'UTF-8',   'command': 'convert-to-utf8:save:utf8' }
            ] }
        ]
    }]
}]

